link,
a {
	text-decoration: none;
	color: #212223;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
}

img {
	display: flex;
	justify-content: flex-start;
}

.App {
	display: flex;
	flex-direction: column;
	height: 100%;
}
